<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<!-- Head tag, using a fragment reference -->
<div th:replace="fragments/generic_head :: head('Procurement detail')"></div>

<!-- Internal styling for the Edit and Delete buttons -->
<style>
  .hover-button { opacity: 0; }
  tr:hover .hover-button { opacity: 1; }
</style>

<!-- Body contents -->
<body class="container h-100 my-1">
<div class="row h-100 justify-content-center align-items-baseline">
  <div class="col-lg-10 m-1 p-3 rounded" style="background: #eeeeee">

    <h1 class="text-center">Procurements</h1>
    <p>

    </p>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Subparts</th>
        <th scope="col">Procurement duration</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="p : ${procurement}">
        <td th:text="${p.key.name}"></td>
        <td th:text="${p.value}"></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<!-- Additional scripts: Bootstrap and modal handling -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
